# =========================
# FRONTEND (Next.js)
# =========================
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local

# =========================
# BACKEND (Flask / Python)
# =========================
backend/__pycache__/
backend/*.pyc
backend/.env

# =========================
# GLOBAL
# =========================
.DS_Store
*.log
*.pem

# =========================
# ENV FILES
# =========================
.env*
!.env.example

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo